<div class="container">
  <div class="row">
    <div class="col">
      <div class="card text-white bg-success mb-3" style="max-width: 20rem">
        <div class="card-header">No.cuenta: {{ nocuenta }}</div>
        <div class="card-body">
          <p class="card-text">DPI: {{ dpi }}</p>
          <p class="card-text">Nombre: {{ nombre }}</p>
          <div class="col text-center">
            <button (click)="saldo()" class="btn btn-primary form-control">
              Consultar saldo
            </button>
          </div>
          <br>
          <div class="col text-center">
            <button (click)="convertJsonToPdf()" class="btn btn-primary form-control">
              Descargar PDF
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="card text-white bg-success mb-3" style="max-width: rem">
        <div class="card-header">Transacciones realizadas</div>
        <div class="card-body">
          <table class="table table-sm">
            <tr>
              <td>Id transacción</td>
              <td>Cuenta origen</td>
              <td>Cuenta destino</td>
              <td>Fecha</td>
              <td>Monto</td>
            </tr>
            <tr *ngFor="let item of datos">
              <td>
                {{ item.id_transferencia }}
              </td>
              <td>
                {{ item.no_cuenta1 }}
              </td>
              <td>
                {{ item.no_cuenta2 }}
              </td>
              <td>
                {{ item.fecha }}
              </td>
              <td>
                {{ item.monto }}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
</div>
