<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Banco AyD1</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"></li>
      </ul>

      <form class="d-flex">
        <ul class="navbar-nav me-auto">
          <ng-container *ngIf="!servihttpService.islog(); else salida">
            <li class="nav-item">
              <a class="nav-link" routerLink="/inicio">Iniciar sesión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/registro">Registrarse</a>
            </li>
          </ng-container>

          <ng-template #salida>
            <li class="nav-item">
              <a class="nav-link" routerLink="/principal">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/transferencia">Transferencia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="servihttpService.salir()">Salir</a>
            </li>
          </ng-template>
        </ul>
      </form>
    </div>
  </div>
</nav>
<div class="conteiner p-3">
  <router-outlet></router-outlet>
</div>
