<div class="conteiner p-3">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-white bg-success mb-3" style="max-width: 20rem">
        <div class="card-header">Iniciar sesión</div>
        <div class="card-body">
          <form (submit)="iniciar()">
            <div class="form-group">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  [(ngModel)]="usuario.dpi"
                  name="dpi"
                  class="form-control"
                  id="floatingInput"
                  placeholder="DPI"
                  required
                />
                <label for="floatingInput" style="color: #000000"
                  >DPI</label
                >
              </div>
              <div class="form-floating">
                <input
                  type="password"
                  [(ngModel)]="usuario.password"
                  name="password"
                  class="form-control"
                  id="floatingPassword"
                  placeholder="Contraseña"
                  required
                />
                <label for="floatingPassword" style="color: #000000"
                  >Contraseña</label
                >
              </div>
              <br />
              <div class="col text-center">
                <button type="submit" class="btn btn-primary form-control">
                  Iniciar sesión
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
