<div class="conteiner p-3">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="card text-white bg-success mb-3" style="max-width: 20rem">
          <div class="card-header">Registrarse</div>
          <div class="card-body">
            <form (submit)="Registrarse()">
              <div class="form-group">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    [(ngModel)]="usuario.nombre"
                    name="nombre"
                    class="form-control"
                    id="floatingnombre"
                    placeholder="Nombre"
                    required
                  />
                  <label for="floatingnombre" style="color: #000000"
                    >Nombre</label
                  >
                </div>
                <div class="form-floating mb-3">
                    <input
                      type="text"
                      [(ngModel)]="usuario.apellido"
                      name="apellido"
                      class="form-control"
                      id="floatingapellido"
                      placeholder="Apellido"
                      required
                    />
                    <label for="floatingapellido" style="color: #000000"
                      >Apellido</label
                    >
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      [(ngModel)]="usuario.dpi"
                      name="dpi"
                      class="form-control"
                      id="floatingdpi"
                      placeholder="DPI"
                      required
                    />
                    <label for="floatingdpi" style="color: #000000"
                      >DPI</label
                    >
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      [(ngModel)]="usuario.saldo"
                      name="saldo"
                      class="form-control"
                      id="floatingsaldo"
                      placeholder="Saldo inicial"
                      required
                    />
                    <label for="floatingsaldo" style="color: #000000"
                      >Saldo inicial</label
                    >
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      [(ngModel)]="usuario.correo"
                      name="correo"
                      class="form-control"
                      id="floatingcorreo"
                      placeholder="Correo electronico"
                      required
                    />
                    <label for="floatingcorreo" style="color: #000000"
                      >Correo electronico</label
                    >
                  </div>
                <div class="form-floating">
                  <input
                    type="password"
                    [(ngModel)]="usuario.contrasena"
                    name="contrasena"
                    class="form-control"
                    id="floatingcontrasena"
                    placeholder="Contraseña"
                    required
                  />
                  <label for="floatingcontrasena" style="color: #000000"
                    >Contraseña</label
                  >
                </div>
                <br />
                <div class="col text-center">
                  <button type="submit" class="btn btn-primary form-control">
                    Registrarse
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  